.sidenav
{
    background-color: deeppink;
    height:100vh;
    width:25vw;
}
.Topnav
{
    background-color: deeppink;
    height:30px;
    width:25vw;
}
#div1
{
    display: flex;
    flex-direction: row;
}